# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Plugins
Plugins/*
!Plugins/CMakeLists.txt

# Enterprise Architect
*.ldb

# Visual Studio folders
/.vs
/VSProject
/out
.vscode
*.vspx

#Cmake
CMakeCache.txt
CMakeLists.txt.user
/CMakeFiles
/build
#conan
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
/vscode/build/CMakeFiles
/vscode/build
/Samples/ApplicationSample/DE/workspace.dex
/linux_build
